@model  Nurseysite.Models.admin


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    < <script src="~/Scripts/prototype.js" type="text/javascript"></script>
<script src="~/Scripts/scriptaculous.js?load=effects" type="text/javascript"></script>
<script src="~/Scripts/lightbox.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/java.js"></script>
  <script src="~/Scripts/lightbox.js">b</script>

</head>
<body>
   <div id="wrap">
@{
    Layout = "~/Views/Shared/adminlayout.cshtml";
}
            @using (Html.BeginForm("login", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                if (@ViewBag.Message != null)
                {
                    
                 @ViewBag.Message   
                }
           
            <div class="form_row">
              <label class="contact"><strong>@Html.Label("Name")</strong></label>
            <div>  @Html.TextBoxFor(a => a.name);</div>
            <div>    @Html.ValidationMessageFor(a => a.name)</div>
            </div>
            <div class="form_row">
              <label class="contact"><strong>@Html.Label("Password")</strong></label>
@Html.PasswordFor(a=>a.password)
<div>@Html.ValidationMessageFor(a=>a.password)</div>

            </div>

 <div class="form_row">      
  <input type="submit" class="register" value="login" />
   </div>
         <br /><br />   
                
                
                
            }
        </div>
          </body>
                </html>               
