@{
    ViewBag.Title = "adminlayout";
}






<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Welcome Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrap">
  <div class="header">
    <div class="logo"><a href="#"><img src="../images/logo.gif" alt="" border="0" /></a></div>
    <div id="menu">
      <ul>
            @if (Session["Id"] == null)
          {
        <li class="selected">@Html.ActionLink("Add plants", "addplants", "Admin")</li>
        <li>@Html.ActionLink("Display Plants", "displayplants", "Admin")</li>
        <li>@Html.ActionLink("Users", "user", "Admin")</li>
        <li>@Html.ActionLink("Search Plants", "search", "Admin")</li>
            }
             
          else
          {   
                        <li class="selected">@Html.ActionLink("Add plants", "addplants", "Admin")</li>
        <li>@Html.ActionLink("Display Plants", "displayplants", "Admin")</li>
        <li>@Html.ActionLink("Users", "user", "Admin")</li>
        <li>@Html.ActionLink("Search Plants", "search", "Admin")</li>
                <li><a href="/Admin/adminlogout/@Session["Id"]">Logout</a></li>
           
            
            
            }
      </ul>
    </div>
  </div>
        </div>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)


       








</body>
</html>
